*, *::after, *::before {
    box-sizing: border-box;
    font-size: larger;
    font-family: monospace;
}

.main {
    display: flex;
    flex-direction: column;
    width: calc(50px * 7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.title {
    text-align: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
}

.red {

    content: url("imgs/red_black.png");
}
.blue {

    content: url("imgs/blue_black.png");
}

.red_top {
    content: url("imgs/red_white.png");
}

.blue_top {
    content: url("imgs/blue_white.png");
}
.white {
    content: url("imgs/white.png");
}

.default {
    content: url("imgs/white_black.png");
}


